---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • {{ page.author }}
      {%- endif -%}
    </p>
  </header>

  <section class="section">
    {{ content }}
  </section>

    <div class="related border-top rounded-top pt-2 mt-4">
        <h3>Related Posts</h3>
        <ul>
            {%- assign relatedCount = 0 -%}
            {%- assign date_format = "%b %-d, %Y" -%}
            {%- for related in site.related_posts -%}
            {% assign relatedCount = relatedCount | plus: 1 %}
            <li><a href="{{ related.url }}">{{ related.title }}</a>. - {{ related.date | date: date_format }}</li>
            {%- if relatedCount == 3 -%}
            {%- break -%}
            {%- endif -%}
            {%- endfor -%}
        </ul>
    </div>
</article>
