---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
    <p class="text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • {{ page.author }}
      {%- endif -%}
    </p>
  </header>

  <section class="section">
    {{ content }}
  </section>

  <div class="related border-top rounded-top">
    <h3>Related Posts</h3>
    {% assign firstCategory = page.categories | first %}
    {% assign relatedCount = 0 %}
    {% for related in site.categories[firstCategory] %}
    {% unless page.permalink == related.permalink %}
    {% assign relatedCount = relatedCount | plus: 1 %}
    <a href="{{related.permalink}}">{{ related.title }}</a>
    {% endunless %}

    {% if relatedCount == 3 %}
    {% break %}
    {% endif %}
    {% endfor %}
  </div>
</article>
