<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
  (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
      m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
    {%- if site.fathom_domain -%}
  })(document, window, '//{{ site.fathom_domain }}/tracker.js', 'fathom');
  {%- else -%}
  })(document, window, '////fathom.jeffharris.us/tracker.js', 'fathom');
  {%- endif %}
  fathom('set', 'siteId', '{{ site.fathom_key }}');
  fathom('trackPageview');
</script>
<!-- / Fathom -->
