<div id="footer"
     class="pt-4 pb-1 rounded-top rounded-lg border-top border-secondary bg-primary fixed-bottom text-light">
  <div class="container-fluid">

    <div class="row px-1">
      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {% if site.author %}
            {{ site.author | escape }}
            {% else %}
            {{ site.description | escape }}
            {% endif %}
          </li>
          {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}">
              {{ site.email }}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-sm">
        <ul class="list-group list-group-horizontal">
          {% if site.gitlab_username %}
          <li class="list-group-item border-primary">
            <a class="btn btn-link text-primary" role="button"
               href="https://gitlab.com/{{ site.gitlab_username }}"
               aria-label="Follow @{{ site.gitlab_username }} on Gitlab"><i
                class="fab fa-gitlab"
                title="Follow @{{ site.gitlab_username }} on Gitlab"></i></a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-group-item border-primary">
            <a class="btn btn-link text-primary" role="button"
               href="https://github.com/{{ site.github_username }}"
               aria-label="Follow @{{ site.github_username }} on Github"><i
                class="fab fa-github"
                title="Follow @{{ site.github_username }} on Github"></i></a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li class="list-group-item border-primary">
            <a class="btn btn-link text-primary" role="button"
               href="https://twitter.com/{{ site.twitter_username }}"
               aria-label="Follow @{{ site.twitter_username }} on Twitter"><i
                class="fab fa-twitter"
                title="Follow @{{ site.twitter_username }} on Twitter"></i></a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li class="list-group-item border-primary">
            <a class="btn btn-link text-primary" role="button"
               href="https://www.linkedin.com/in/{{ site.linkedin_username }}/"
               aria-label="Follow @{{ site.linkedin_username }} on LinkedIn"><i
                class="fab fa-linkedin"
                title="Follow @{{ site.linkedin_username }} on LinkedIn"></i></a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="w-100 d-block d-md-none"></div>

      <div class="col-sm text-right">
        {% if site.description %}<p><small>{{- site.description | escape -}}</small></p>{% endif %}
      </div>

    </div>
    <div class="row justify-content-center">
      <p><small>Last updated {{ site.time | date: "%A, %B %e, %Y %k:%M %Z" }}.</small></p>
    </div>
  </div>
</div>
{%- if site.fathom_key -%}
{%- include fathom.html -%}
{%- endif -%}

{% if site.google_analytics %}
{%- include google_analytics.html -%}
{%- endif -%}

{%- if page.id -%}
{%- include utterance.html -%}
{%- endif -%}
