<div id="weather" class="pb-5 px-2">
    <div id="weatherContainer">
        <div id="weatherAlerts" class="invisible">
            <h3>Weather alerts in Charlotte, NC</h3>
                <div id="weatherAlertRow" class="row">
            </div>
        </div>
        <div>
            <h3 class="d-block">Weather in Charlotte, NC</h3>
            <div class="small d-block" id="weatherUpdated"></div>
            <div class="container">
                <div id="weatherRow" class="row"></div>
            </div>
        </div>
    </div>
</div>
