<!-- Weather -->
<script>
  const weatherAPIUrl = 'https://api.weather.gov/gridpoints/GSP/118,64/forecast'
  const weatherDom = document.getElementById('weatherRow')
  const weatherCards = []
  const request = new Request(weatherAPIUrl,
    {
      header: { 'Content-Type': 'application/json' }
    })

  fetch(request).then(response => {
    if (!response.ok) {
      alert(`Unable to fetch weather from API. Server Error ${response.status}.`)
    }
    return response
  })
    .then(result => result.json())
    .then(data => {
      const { periods, updated } = data.properties
      const date = new Date(updated)
      document.getElementById('weatherUpdated').innerText = `Updated at ${date.toLocaleString()}`
      for (let i = 0; i < 8; ++i) {
        const period = periods[i]
        let card = document.createElement('div')
        card.classList.add('col-6', 'col-md-4', 'col-lg-3')
        if (i > 3) {
          card.classList.add('d-none', 'd-md-block')
        }
        if (i > 5) {
          card.classList.replace('d-md-block', 'd-lg-block')
        }
        card.innerHTML =
          `<div class="card mb-2">
  <h5 class="card-header">${period.name}</h5>
  <div class="card-body">
    <h6 class="card-title">${period.shortForecast}</h6>
    <p class="card-text hyphenate small">
<img class="float-left weather-icon rounded mr-2" src="${period.icon}" alt="${period.shortForecast}">
${period.detailedForecast}</p>
  </div>
</div>`
        weatherCards.push(card)
      }
    })
    .catch((error) => {
      alert('Fetching weather failed. Please try again in a few moments.')
    })
    .finally(() => {
      weatherCards.forEach(card => {
        weatherDom.appendChild(card)
      })

    })


</script>
<!-- End Weather -->
